<div class='results-block center'>
  <%= render 'layouts/messages' %>
</div>
<% if @stock %>
  <div class="container">
    <div class="card card-header results-block">
      <strong>Symbol: </strong> <%= @stock.ticker %>
      <strong>Company: </strong><%= @stock.name %>
      <strong>Price: </strong><%= @stock.last_price %>
    </div>
  </div>
<% end %>