@import "bootstrap/dist/css/bootstrap";

.navbar-brand {
  // font-size: 3em;
}

.search-area {
  padding-top: 50px;
}

.no-pad {
  padding: 0
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.logout-btn {
  margin-right: 20px;
}